{% extends "home.html" %}

{% block slogan %}
  Децентрализованная мультимедийная Сеть
{% endblock %}

{% block button_finances_title %}
  Инвестиции, DeFi
{% endblock %}

{% block slide_1 %}Самая популярная в мире децентрализованная мультимедийная платформа для онлайн вещания по технологии P2P (peer to peer), с более чем 10-летней историей и аудиторией свыше 30 млн. пользователей.{% endblock %}
{% block slide_2 %}Открытая сеть, которой владеют и управляют ее пользователи{% endblock %}
{% block slide_3 %}Carbon-negative! Используйте Ace Stream чтобы защитить экологию от огромного урона причиняемого централизованной стриминговой индустрией и технологиями unicast{% endblock %}
{% block slide_4 %}Новые и невероятные мультимедийные возможности; устранение проблемы "усталость от подписок"; настоящий Web3{% endblock %}
{% block slide_5 %}Экологичный CDN с безлимитной пропускной способностью и самой низкой стоимостью хранения и доставки данных в мире{% endblock %}
{% block slide_6 %}Децентрализованная финансово-экономическая система на одной из самых передовых и надежных технологий blockchain в мире{% endblock %}
{% block slide_7 %}Токены со 100% обеспечением и алгоритмический стейблкойн, майнинг которого генерирует удовольствие и спасает экологию{% endblock %}
{% block slide_8 %}Эффективная монетизация контента и линейного телевидения в децентрализованных сетях{% endblock %}
{% block slide_9 %}Глобальная децентрализованная беттинговая платформа, где каждый может стать букмекером, а существующие букмекеры могут значительно расширить охваты. Прогнозы и ставки в один клик в прямых трансляциях!{% endblock %}
{% block slide_10 %}Децентрализованные сайты, социальные сети, мессенджеры и видеоконференции, которые невозможно заблокировать{% endblock %}
{% block slide_11 %}Лучшее решение для борьбы с «пиратским» контентом в P2P-сетях, в котором учтены интересы всех (правообладателей, дистрибьюторов/распространителей и потребителей контента){% endblock %}
{% block slide_12 %}Автоматизированная система стимулирования и мотивации участников Сети, с бонусами и наградами для зрителей, где каждый может зарабатывать токены во время просмотра любимого контента и/или за просмотр рекламы{% endblock %}
{% block slide_13 %}Уникальные партнерские программы и программы DeFi, которые приумножат Ваши доходы{% endblock %}
