{% extends "home.html" %}

{% block slogan %}
  Децентрализованная мультимедийная Сеть
{% endblock %}

{% block button_finances_title %}
  Инвестиции, DeFi
{% endblock %}

{% block slide_1 %}Новые и невероятные мультимедийные возможности{% endblock %}
{% block slide_2 %}Устранение проблемы "усталость от подписок"{% endblock %}
{% block slide_3 %}Экологичный CDN, с безлимитной пропускной способностью и самой низкой стоимостью хранения и доставки данных в мире{% endblock %}
{% block slide_4 %}Децентрализованная финансово-экономическая система, на одной из самых передовых и надежных технологий blockchain в мире{% endblock %}
{% block slide_5 %}Токены со 100% обеспечением и алгоритмический стейблкойн, майнинг которого генерирует удовольствие и спасает экологию{% endblock %}
{% block slide_6 %}Эффективная монетизация линейного телевидения в Интернете и децентрализованных сетях{% endblock %}
{% block slide_7 %}Глобальная децентрализованная беттинговая платформа{% endblock %}
{% block slide_8 %}Децентрализованные мессенджеры, видеоконференции и социальные сети{% endblock %}
{% block slide_9 %}Лучшее решение для борьбы с «пиратским» контентом в P2P-сетях{% endblock %}
{% block slide_10 %}Автоматизированная система стимулирования и мотивации участников Сети{% endblock %}
{% block slide_11 %}Максимум анонимности и конфиденциальности{% endblock %}
{% block slide_12 %}Рекламные площадки без негатива, с самыми эффективными форматами рекламы{% endblock %}
{% block slide_13 %}Уникальные партнерские программы{% endblock %}
