.md-footer {
    background-color: var(--md-primary-fg-color--dark);
}

.md-typeset .admonition.question,
.md-typeset details.question {
  border-color: var(--md-primary-fg-color--light);
}

.md-typeset .question > .admonition-title,
.md-typeset .question > summary {
  background-color: rgba(43, 155, 70, 0.1);
  border-color: var(--md-primary-fg-color--light);
}
.md-typeset .question > .admonition-title::before,
.md-typeset .question > summary::before {
  background-color: var(--md-primary-fg-color--light);
}

:root, :root > * {
    --md-typeset-a-color: #4287ff;
    --md-primary-fg-color: #2a4961;
    --md-primary-fg-color--dark: #2a4961;

    /*
    Original values:

    --md-primary-fg-color: #546d78;
    --md-primary-fg-color--light: #607c8a;
    --md-primary-fg-color--dark: #455a63;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: hsla(0,0%,100%,0.7);
    */
}

/*
:root {

    // Primary color shades
    --md-primary-fg-color: #861f41;
    --md-primary-fg-color--light: #861f4194;
    --md-primary-fg-color--dark: #ac325a;
    --md-primary-bg-color: hsla(0, 0%, 100%, 1);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-text-link-color: hsla(231, 48%, 48%, 1);

    // Accent color shades
    --md-accent-fg-color: rgb(98, 18, 189);
    --md-accent-fg-color--transparent: hsla(189, 100%, 37%, 0.1);
    --md-accent-bg-color: hsla(0, 0%, 100%, 1);
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
  }

  :root > * {

    // Code block color shades
    --md-code-bg-color: hsla(0, 0%, 96%, 1);
    --md-code-fg-color: hsla(200, 18%, 26%, 1);

    // Footer
    --md-footer-bg-color: #861f41;
    --md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.3);
  }
*/