.md-header {
    opacity: 0.95;
}

nav.md-tabs {
    opacity: 0.85;
}

/* Fix language selector position on mobile */
@media screen and (max-width: 76.1875em) {
    .md-header .md-header__option .md-select .md-select__inner {
        left: auto;
        right: -100%;
    }
}


/* Don't use accent colors for focused buttons */
.md-typeset .md-button:focus, .md-typeset .md-button:hover {
    color: var(--md-primary-fg-color);
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
}
