.md-header {
    opacity: 0.95;
}

nav.md-tabs {
    opacity: 0.85;
}

.as-nowrap {
    white-space: nowrap;
}

/* Fix language selector position on mobile */
@media screen and (max-width: 76.1875em) {
    .md-header .md-header__option .md-select .md-select__inner {
        left: auto;
        right: -100%;
    }
}
