:root {
    --mdx-home-button-color: #366a8d;
}

body {
    background: var(--md-primary-fg-color) url(/63db9820/assets/images/ace_background_mobile.jpg) no-repeat center center fixed;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mdx-home {
    padding-top: 3em;
    text-align: center;
}

.mdx-home__logo {
    padding-bottom: 2em;
}

.md-typeset .mdx-home .md-button {
    color: var(--md-primary-bg-color);
    width: 250px;
    margin-top: 16px;
}

.mdx-home .md-button.mdx-button--first {
    margin-right: 0px;
}

.md-typeset .mdx-home .md-button--primary {
    background-color: var(--mdx-home-button-color);
    border-color: var(--mdx-home-button-color);
}

.md-typeset .mdx-home .md-button:hover {
    background-color: var(--md-primary-bg-color);
    border-color: var(--md-primary-bg-color);
    color: var(--mdx-home-button-color);
}

.mdx-home__content {
    color: #fff;
}

.mdx-home__content h1 {
    color: #fff;
    margin: 0;
}

.mdx-home__logo img {
    width: 141px;
    height: 123px;
}

/* Application header should be static for the landing page */
.md-header {
    position: initial;
}

/* Remove spacing, as we cannot hide it completely */
.md-main__inner {
    margin: 0;
}

/* Hide main content for now */
.md-content {
    display: none;
}

@media screen and (min-width: 520px) {
    body {
        background-image: url(/63db9820/assets/images/ace_background_5.jpg);
    }
    .mdx-home .md-button {
        margin-top: 0px;
    }
    .mdx-home .md-button.mdx-button--first {
        margin-right: 16px;
    }
    .mdx-home {
        padding-top: 7em;
    }
    .mdx-home__logo {
        padding-bottom: 3em;
    }
    .md-container {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

/* Hide table of contents */
@media screen and (min-width: 60em) {
    .md-sidebar--secondary {
        display: none;
    }
}

/* Hide navigation */
@media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
        display: none;
    }
}

#my-carousel {
    width: 320px;
    height: 80px;
    font-size: 14px;
    font-style: italic;
    margin: 24px auto;
}

#my-carousel .carousel-item {
    width: 320px;
    height: 80px;
}

#my-carousel .carousel-indicators {
    display: flex;
    bottom: -27px;
    z-index: 2;
}

#my-carousel .carousel-indicators > li {
    cursor: pointer;
    height: 8px;
    width: 8px;
    background-color: #2c88a1;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

#my-carousel .carousel-indicators > li.active {
    background-color: #fff;
}

@media screen and (min-width: 520px) {
    #my-carousel {
        font-size: 16px;
        width: 515px;
        height: 80px;
    }
    #my-carousel .carousel-item {
        width: 515px;
        height: 80px;
    }
    #my-carousel .carousel-indicators > li {
        height: 12px;
        width: 12px;
        background-color: #7db6c5;
    }
}

/* Reset margin set by Bootstrap  */
label.md-overlay {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

/* Change the look of language selector */
.md-select__link {
    color: var(--md-primary-bg-color);
    background-color: var(--mdx-home-button-color);
}

.md-select__link:hover {
    background-color: var(--md-primary-bg-color);
    color: var(--mdx-home-button-color);
}

.md-select__inner {
    background-color: transparent;
}

.md-select__inner::after {
    border-bottom-color: var(--mdx-home-button-color);
}

/* Animation */
.mdx-home__logo{
    transform: translate(0px, 40px);
    opacity: 0;
    transition: transform 2s, opacity 2s;
}
.mdx-home__logo img{
    transform: scale(0.6);
    transition: transform 2s, opacity 2s;
}
.mdx-home-title{
    transform: translate(0px, 60px);
    opacity: 0;
    transition: transform 2s, opacity 2s;
}
.mdx-home .animate{
    transform: scale(0.6);
    transition: transform 3s, opacity 3s;
    transition-delay: 0.5s;
}
.mdx-home .animate-slide{
    transform: translate(0px, 40px);
    opacity: 0;
    transition: transform 2s, opacity 2s;
    transition-delay: 1s;
}
.carousel-indicators{
    transform: scale(0.6);
    transition: transform 3s;
}
.carousel-inner{
    transform: scale(0.6);
    transition: transform 3s;
    transition-delay: 0.5s;
}
.mdx-home .md-button{
    transform: scale(0.6);
    opacity: 0;
    transition: transform 2.6s, opacity 2.6s;
    transition-delay: 1.3s;
}
body{
    background-size: 100% auto;
    transition: background-size 3s;

}
.mdx-home ._active{
    opacity: 1;
    transform: translate(0);
}
.mdx-home__logo._active img{
    transform: scale(1);
}
.animate-slide._active .carousel-indicators{
    transform: scale(1);
}
.animate-slide._active .carousel-inner{
    transform: scale(1);
}
.mdx-home-title._active .animate{
    transform: scale(1);
}
.mdx-home .md-button._active{
    opacity: 1;
    transform: scale(1);
}
body._active{
    background-size: 130% auto;
}
