#popup-container {
    display: none;
}

#popup-container, #popup-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#popup-overlay {
    background-color: #000;
    opacity: 0.75;
    z-index: 1001;
}

#popup-content {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #eee;
    z-index: 1002;
    box-shadow: 2px #fff;
}

#popup-content iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#popup-close {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 1003;
}

#popup-close img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 8px;
    left: 8px;
}

@media screen and (min-width: 60em) {
    #popup-content {
        top: 32px;
        left: 32px;
        right: 32px;
        bottom: 32px;
    }
    #popup-close {
        top: 40px;
        right: 48px;
    }
}